.container {
  margin: auto;
  width: 1250px;
  display: flex;
}

.form {
  float: left;
  width: 450px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cccccc;
}
.title-form {
  margin: 0px;
  font-weight: bold;
  margin-bottom: 20px;
}

.field {
  display: flex;
  margin-bottom: 15px;
}

.field > label {
  width: 40%;
  padding-top: 5px;
}

.buttons {
  width: 72%;
  display: flex;
  margin-left: auto;
}
.buttons > button {
  width: 50%;
  float: left;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  background-color: #909090;
}
.buttons > img {
  height: 35px;
  cursor: pointer;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.list-items {
  float: left;
  margin: 20px 5px;
  padding: 20px 15px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}
.list-items > div > h4 {
  margin-bottom: 20px;
}
.table {
  margin-top: 5px;
  border: 1px solid #cccccc;
}
.header-cell {
  color: black;
  font-weight: bold;
}
.button-table > button {
  border: 0;
  cursor: pointer;
  color: #2980e2;
  text-decoration: underline;
  background-color: transparent;
}

@media only screen and (max-width: 1249px) {
  div.container {
    width: 96%;
  }
  div.form {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1099px) {
  div.container {
    display: inline;
  }
  div.form {
    float: none;
    width: 500px;
    margin: 20px auto;
  }
  div.list-items {
    float: none;
    width: 730px;
    margin: auto;
  }
}
